<!-- userform.html -->
<form id="userForm">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" class="form-control" required>
	 <label for="SelectBroker">Select Broker:</label>
 	<select id="SelectBroker" name="Select Broker:">
        <option value="Wisdom Capital">Wisdom Capital</option>
        <option value="Zerodha">Zerodha</option>
        <option value="5 Paisa">5 Paisa</option>
        <option value="Angel One">Angel One</option>
    </select>
 
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
